{% extends 'base.html.twig' %}

{% block title %}New Departements{% endblock %}

{% block body %}
    <h1>Create new Departements</h1>

    {{ include('departements/_form.html.twig') }}

    <a href="{{ path('departements_index') }}">back to list</a>
{% endblock %}
